
/.NET Examples/SpecFlowCalculator/SpecFlowCalculator.Specs/obj
/.NET Examples/SpecFlowCalculator/.vs
/.NET Examples/SpecFlowCalculator/SpecFlowCalculator/obj
/.NET Examples/SpecFlowCalculator/SpecFlowCalculator/bin
/.NET Examples/SpecFlowCalculator/SpecFlowCalculator.Specs/bin
